body{
    background-image: url(https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}


header nav{
    background-color: aqua;
}


h1,h2{
    font-size: 200px;
    font-family: Lobstar;
    color:black;
   
}

